In [1]:
import os
from pathlib import Path
import pandas as pd 
import pymongo
from dotenv import load_dotenv

env_path = Path.cwd() / ".env"
load_dotenv(env_path)
df = pd.read_csv('data.csv')
df.head()

,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35
2,2,rural,4,0.63,70,dim,clear,False,True,morning,True,False,2,0.30
3,3,highway,4,0.07,35,dim,rainy,True,True,morning,False,False,1,0.21
4,4,rural,1,0.58,60,daylight,foggy,False,False,evening,True,False,1,0.56

In [2]:
data = df.to_dict(orient = 'records')
# data

In [3]:
DB_NAME = "Proj1"
COLLECTION_NAME ="Proj1-Data"
CONNECTION_URL = os.getenv("CONNECTION_URL")

In [5]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [6]:
rec = collection.insert_many(data)

In [7]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>

In [8]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,id,road_type,num_lanes,curvature,speed_limit,lighting,weather,road_signs_present,public_road,time_of_day,holiday,school_season,num_reported_accidents,accident_risk
0,695bfd6ea9cf78d073dc0cda,0,urban,2,0.06,35,daylight,rainy,False,True,afternoon,False,True,1,0.13
1,695bfd6ea9cf78d073dc0cdb,1,urban,4,0.99,35,daylight,clear,True,False,evening,True,True,0,0.35